- content_for :title do
  About
%h2 Snap Trends
%h3 About the Website
%p
  Trending and high quality snaps uploaded by the professional photographers and Snaps gallery to book photographer for your event.

